<h1>Profiles#dashboard</h1>
<p>Find me in app/views/profiles/dashboard.html.erb</p>


<h1> My email: <%= current_user.email %> </h1>
<h1> Modify my profile </h1>

<%=  link_to "Go back home", grandparents_path  %>


<%= simple_form_for(current_user) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <!-- [...] -->
<% end %>
