<h1>Profiles#dashboard</h1>
<p>Find me in app/views/profiles/dashboard.html.erb</p>


<h1> My email: <%= current_user.email %> </h1>


<%= link_to "Edit my profile", profile_edit_path  %>
<%= link_to "Go back", grandparents_path  %>

<h2> Add a grand parent </h2>

<%= simple_form_for(@grandparent) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :address %>
  <%= f.input :speciality %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit %>
  <!-- [...] -->
<% end %>

<ul>
<% current_user.bookings.each do |booking| %>
  <li> <%= Grandparent.find(booking.grandparent_id).name %> --- <%= link_to "Add a review", new_grandparent_review_path(booking.grandparent_id)%> </li>%
<%end%>
</ul>




