


<%= render "shared/dashboard" %>

<div class="container">
  <div class="row">
    <div class="col-md-6 paddingform ">
      <h2> Add a grand parent </h2>

      <%= simple_form_for(@grandparent) do |f| %>
        <!-- [...] -->
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :address %>
        <%= f.input :speciality %>
        <%= f.input :picture %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.date_select :start_date %>
        <%= f.date_select :end_date %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <div class="margin-right">
    <h2>Grandparents created by <%= current_user.name %></h2>
    <% current_user.grandparents.each do |grandparent| %>


      <% if grandparent.picture.url %>
      <div class="col-md-3">

        <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path grandparent.picture, height: 300, width: 400, crop: :fill %>');">
            <div class="card-category"> </div>
              <div class="card-description">
                  <h2><%= link_to grandparent.name, grandparent_path(grandparent) %></h2>
                </div>
                <%= link_to "Owner", showprofile_path(grandparent.user) %>
                <%= link_to "Destroy",  grandparent_path(grandparent),
                    data: { confirm: 'Are you sure?' }, method: :delete %>
                <%= link_to "Edit availibility", edit_grandparent_path(grandparent) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<div id="wrapper">
    <div id="first">
    <h1>My bookings</h1>
    <ul>
    <% current_user.bookings.each do |booking| %>
      <li> <%= Grandparent.find(booking.grandparent_id).name %> ---
          <% if (booking.review_content.nil?) && (booking.review_rating.nil?) %>
            <%= link_to "Add a review", edit_grandparent_booking_path(booking.grandparent, booking)%>
          <% else %>
            <%= "Reviewed"%>
          <% end %>

      </li>
    <%end%>
    </ul>
  </div>
    <div id="second">
    <h1>History of bookings</h1>

    <% current_user.grandparents.each do |grandparent| %>
      <% grandparent.bookings.each do |booking| %>
        <li><%= grandparent.name + " has been booked from " + booking.start_date.time.to_s + " by " +  grandparent.user.name + " to " + booking.end_date.time.to_s %></li>
      <%end%>
    <%end%>

  </div>·
</div>





