<div class="container">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <% if current_user.photo.url.nil? %>
        <img src="https://previews.123rf.com/images/courtyardpix/courtyardpix1108/courtyardpix110800021/10291319-portrait-d-un-jeune-homme-aux-cheveux-blonds-et-yeux-bleus-isol%C3%A9-sur-blanc.jpg" alt="user" :class= "img-circle", style= "height: 130px;" >
        <% else %>
        <%= image_tag current_user.photo.url, :class=> "img-circle", style:"height: 130px;" %>
        <% end %>
        <h2><%= current_user.name.capitalize %></h2>

        <%= link_to "Edit my profile", profile_edit_path, :class=>"btn btn-primary btn-lg"  %>

         <%= link_to "My grandparents", new_grandparent_path, :class=>"btn btn-primary btn-lg"  %>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>E-mail</h3>
        <p><%= current_user.email %></p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3><%= current_user.bookings.size%></h3>
        <p><%= "people rented your grandparents " + current_user.bookings.size.to_s + " times" %></p>
      </div>
      </div>
    <div class="stat">
      <div class="stat-content">

        <h3><%= current_user.booked%></h3>
        <p>experiences booked</p>
      </div>
      </div>
    <div class="description">
      <div class="description-content">
        <h3>More about</h3>
        <p class="text-justify">
          <% if current_user.description.nil? %>
            <p>No description yet</p>
          <%else%>
            <%= current_user.description %>
          <%end%>
        </p>
      </div>
    </div>
  </div>
</div>


  <!-- to move to new page  -->


<div class="container">
  <div id="row">
    <div class="col-md-4", style="    margin-left: 52px; margin-right: 3px; margin-top: 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);min-height: 200px;">
      <h1 style="text-align: center;">My bookings</h1>
      <ul>
        <% current_user.bookings.each do |booking| %>
          <li> <%= Grandparent.find(booking.grandparent_id).name %> ---
            <% if (booking.review_content.nil?) && (booking.review_rating.nil?) %>
              <%= link_to "Add a review", edit_grandparent_booking_path(booking.grandparent, booking)%>
            <% else %>
              <%= "Reviewed"%>
            <% end %>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="col-md-4", style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top: 20px; margin-left: 17px; min-width: 658px;min-height: 200px;">
      <h1 style="text-align: center">History of bookings</h1>
      <% current_user.grandparents.each do |grandparent| %>
        <% if grandparent.start_date.nil? %>
          <p>No bookings</p>
        <%else%>
          <% grandparent.bookings.each do |booking| %>
            <li><%= grandparent.name + " has been booked from " + booking.start_date.time.to_s + " by " +  grandparent.user.name + " to " + booking.end_date.time.to_s %></li>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>





