


<%= render "shared/dashboard" %>

<div class="container">
  <div class="row">
    <div class="col-md-4 paddingform ">

      <h2 style="text-align: center"> Add a grand parent </h2>

      <%= simple_form_for(@grandparent) do |f| %>
      <!-- [...] -->
      <%= f.input :name %>
      <%= f.input :age %>
      <%= f.input :address %>
      <%= f.input :speciality %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.button :submit, :class=>"btn btn-primary", style:"background: #37B686;margin-top: 5px;" %>
      <% end %>
    </div>
    <div class="margin-right">
      <h2 style="text-align: center;padding-bottom: 19px;">Grandparents created</h2>
        <div style="margin-left: -251px;">
          <% current_user.grandparents.each do |grandparent| %>
            <% if grandparent.picture.url %>
              <div class="col-md-3">
                <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path grandparent.picture, height: 300, width: 400, crop: :fill %>');">
                  <div class="card-category"> </div>
                    <div class="card-description">
                      <h2><%= link_to grandparent.name, grandparent_path(grandparent) %></h2>
                    </div>
                  <div class = "avatar-card">
                   <%= link_to showprofile_path(grandparent.user) do %><i class="fas fa-cross"></i><%end%>
                     <%= link_to grandparent_path(grandparent),
                     data: { confirm: 'Are you sure?' }, method: :delete, remote: true do %><i class="fas fa-trash-alt"></i><% end %>
                    <%= link_to edit_grandparent_path(grandparent) do %><i class="fas fa-edit"></i><%end%>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div id="row">
    <div class="col-md-4", style="    margin-left: 52px; margin-right: 3px; margin-top: 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);min-height: 200px;">
      <h1 style="text-align: center;">My bookings</h1>
      <ul>
        <% current_user.bookings.each do |booking| %>
          <li> <%= Grandparent.find(booking.grandparent_id).name %> ---
            <% if (booking.review_content.nil?) && (booking.review_rating.nil?) %>
              <%= link_to "Add a review", edit_grandparent_booking_path(booking.grandparent, booking)%>
            <% else %>
              <%= "Reviewed"%>
            <% end %>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="col-md-4", style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);margin-top: 20px; margin-left: 17px; min-width: 658px;min-height: 200px;">
      <h1 style="text-align: center">History of bookings</h1>
      <% current_user.grandparents.each do |grandparent| %>
        <% if grandparent.start_date.nil? %>
          <p>No bookings</p>
        <%else%>
          <% grandparent.bookings.each do |booking| %>
            <li><%= grandparent.name + " has been booked from " + booking.start_date.time.to_s + " by " +  grandparent.user.name + " to " + booking.end_date.time.to_s %></li>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</div>





