<div class="container" style="min-height: calc(100vh - 126px);">
  <div class="container-wraper">
    <div class="container-form">
      <h2> Modify my profile </h2>
            <%= simple_form_for(current_user) do |f| %>
              <!-- [...] -->
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.button :submit %>
              <!-- [...] -->
            <% end %>
    </div>
  </div>
</div>
