<div class="navbar-grandparents navbar-fixed-top">
  <!-- Logo -->
  <a href="/" class="navbar-grandparents-brand">
  <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/110828936/original/6dcbc6ff4537303e091b9c901edca7046e9ab617/do-bussiness-logo-design.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-grandparents-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-grandparents-item navbar-grandparents-link" %>
    <% else %>
       <%= link_to "Sign in", new_user_session_path, class: "navbar-grandparents-item navbar-grandparents-link"%>
    <% end %>
    <%= link_to "Home page", grandparents_path, class: "navbar-grandparents-item navbar-grandparents-link"%>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-grandparents-item">
      <div class="dropdown">
        <% if current_user%>
          <img src="<%= current_user.photo.url%>" class="avatar dropdown-toggle" id="navbar-grandparents-menu" data-toggle="dropdown">
        <%end%>

        <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">

          <li><%= link_to "My dashboard", profile_path(current_user), class: "navbar-grandparents-item navbar-grandparents-link" %></li>

        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-grandparents-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-grandparents-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
