<h1>Grandparents#index</h1>
<p>Find me in app/views/grandparents/index.html.erb</p>


<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "Sign in", new_user_session_path%>
<% end %>

 <%= link_to "My profile", profile_path %>

<div class="flex">
  <div class="container" style = "background-color: blue;">
    <div class="row">
      <% @grandparents.each do |grandparent| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://annesofi-bijoux.marcadet.fr/blog/wp-content/uploads/2012/07/mamika-banane.jpg');">
              <div class="card-category"> <%= grandparent.speciality%></div>
              <div class="card-description">
                <h2> <%= link_to grandparent.name, grandparent_path(grandparent) %></h2>
              </div>
              <div class="reviews">
                <% average = 0 %>
                <% size = grandparent.bookings.size %>
                <% grandparent.bookings.each do |booking| %>
                    <% average += booking.review_rating/size unless booking.review_rating.nil?%>
                <% end %>
                <%= "average: " + average.to_s %>
              </div>
               <%= link_to "Owner", showprofile_path(grandparent.user_id) %>
            </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="map" style = "background-color: red">
      <!-- gem map plus tard   -->
  </div>
</div>
