<h1>Grandparents#index</h1>
<p>Find me in app/views/grandparents/index.html.erb</p>


<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "Sign in", new_user_session_path%>
<% end %>

 <%= link_to "My profile", profile_path %>

<div class="flex">
  <div class="card-grandparents" style = "background-color: blue;" >
      <div class=card-grandparent-container>
        <% @grandparents.each do |grandparent| %>
          <div class="card-grandparent" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://annesofi-bijoux.marcadet.fr/blog/wp-content/uploads/2012/07/mamika-banane.jpg');"></div>
          <div class="card-category"> <%= grandparent.speciality%></div>
          <div class="card-name">
            <h2> <%= link_to grandparent.name, grandparent_path(grandparent) %></h2>
          </div>
          <div class="card-reviews">
            <% average = 0 %>
            <% size = grandparent.reviews.size %>
            <% grandparent.reviews.each do |x| %>
            <% average += (x.rating/size) %>
            <% end %>
            <%= average %>
          </div>
          <div class="owner"> <%= link_to "Owner", showprofile_path(grandparent.user_id) %></div>
        <% end %>
      </div>
  </div>
  <div class="map" style = "background-color: red">
    <!-- gem map plus tard   -->
  </div>„
</div>
