<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h1><%= @grandparent.name %></h1>
        <h1><%=@grandparent.address%></h1>


        <!-- form  -->

        <%= simple_form_for [@grandparent, @booking ] do |f| %>
          <!-- [...] -->
          <%= f.submit "Book!", class: "btn btn-primary" %>
          <!-- [...] -->

        <% end %>

        <%= @grandparent.bookings %>

    </div>
  </div>
</div>
