<div class="container" style="min-height: calc(100vh - 220px);">
  <div class="profile text-center">
    <div class="card-grandparent-main">
      <div class="card-grandparent">
        <% if @grandparent.picture.url.nil? %>
       <img src="http://a133.idata.over-blog.com/500x308/3/95/92/16/ronfleur/ronfleur/VIEUX-PAPI.jpg" alt="pp">
        <% else %>
          <%= image_tag @grandparent.picture.url, class: "img-circle", style:"width: 120px;"  %>
          <% end  %>
          <h1><%= @grandparent.name %></h1>
          <h2><%=@grandparent.address%></h2>
          <p><%= @grandparent.speciality %></p>



          <% if @grandparent.start_date  || @grandparent.end_date.nil? %>
            <p> <%= @grandparent.name + "is not available for rent" %></p>
          <%else%>

            <%= form_for [@grandparent, @booking ] do |f| %>


              <div class="form-group">
                <%= f.label :start_date %>
                <%= f.text_field :start_date, :data => {:provide => "datepicker"} , class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :end_date %>
                <%= f.text_field :end_date, :data => {:provide => "datepicker"}, class: 'form-control'  %>
              </div>
                <%= f.submit "Book!", class: "btn btn-primary" %>
            <% end %>
          <% end %>





      </div>
    </div>
    <div class="card-grandparent-reviews">
      <div class="card-grandparent">
        <% count = 0 %>
        <% @grandparent.bookings.each do |booking| %>
          <% count += 1 unless booking.review_rating.nil? %>
        <% end %>
        <h3> <%= count %> </h3>
        <p> reviews </p>
      <%= link_to "Check it out", grandparent_bookings_path(@grandparent) %>
      </div>
    </div>
    <div class="card-grandparent-bookings">
      <div class="card-grandparent">
        <h3><%= @grandparent.bookings.count %></h3>
        <p> bookings </p>
      </div>
    </div>
    <div class="card-grandparent-info">
      <div class="card-grandparent">
        <h3> More about <%= @grandparent.name %></h3>
        <p> #rajouter une description pour le grandparent</p>
      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 1063px; margin: auto; margin-top: 110px;
  height: 450px;"
  data-markers="<%= @markers.to_json %>"
>

</div>

