

<!-- --------------------------------------- -->

<div class="container">

  <h2 style="text-align: left"> <%= "#{@user.name}' grandparents"%></h2>
    <% @user.grandparents.each do |grandparent| %>
      <% if grandparent.picture.url %>
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-4">

        <div class="card" id = "margin"style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path grandparent.picture.url, height: 300, width: 400, crop: :fill %>');">

          <div class="card-description">
            <h2><%= link_to grandparent.name, grandparent_path(grandparent) %></h2>
          </div>

          <%if @user == current_user %>
            <div class = "avatar-card">
              <%= link_to profile_path(grandparent.user) do %>
              <i class="fas fa-cross"></i>
              <%end%>
               <%= link_to grandparent_path(grandparent),
               data: { confirm: 'Are you sure?' }, method: :delete, remote: true do %>
               <i class="fas fa-trash-alt"></i>
               <% end %>
              <%= link_to edit_grandparent_path(grandparent) do %>
              <i class="fas fa-edit"></i>
              <%end%>
            </div>
          <%end%>
        </div>
        </div>


    <div class="col-md-8">
    <div class="right">
      <%if @user == current_user%>
        <% @user.grandparents.each do |grandparent| %>
          <% if grandparent.start_date.nil? %>

          <%else%>
            <% grandparent.bookings.each do |booking| %>
              <li><%= grandparent.name + " has been booked from " + booking.start_date.time.to_s + " by " +  grandparent.user.name + " to " + booking.end_date.time.to_s %></li>
            <%end%>
          <%end%>
        <%end%>
      <%end%>
    </div>
    </div>
    </div>
  <%end%>
  <%end%>

    <% if @user == current_user %>
      <div >

        <h2 style="text-align: center"> Add a grandparent </h2>

        <%= simple_form_for(@grandparent) do |f| %>
        <!-- [...] -->
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :address %>
        <%= f.input :speciality %>
        <%= f.input :picture %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.button :submit, :class=>"btn btn-primary", style:"background: #37B686;margin-top: 5px;" %>
        <% end %>
      </div>
    <%end%>



</div>







