<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
   <%= render "shared/navbar" %>
   <div class="banner_wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.aobora.com/wp-content/uploads/accompagner-personne-agee.png');">
      <div class="banner-content">
        <h1>Looking for a grandparent to have fun with ?</h1>
        <p>Spending quality time with your elderly has never been easier ... Give it a try ! </p>
        <div class="banner-search">
          <input type="search" id="mySearch" name="zipcode"
            placeholder="Search by city">
          <button class="search_button" type="button">Go !</button>
      </div>
    </div>
  </div>
    <%= yield %>
    <%= render "shared/footer" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
